.letter {
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.95);

  padding: 4px 6px;

  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(1px);
}

.selected {
  background: rgba(14, 165, 233, 0.08);
  border: 1px solid rgba(14, 165, 233, 0.6);
}
